/* Mobile First View: */

h2 {
	display: none;
	font-family: 'Lato', sans-serif;

}

aside {
	background: #80a2a7;
	font-size: 120%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}

/* Style the links in the aside section */
aside a {
	color: #0a0a0a;
	display: block;
	padding: 5px 0;
	text-decoration: none;
	width: 100%;
}

/* Change the color of aside links on hover using mouse */
aside a:hover {
	background-color: #80a2a7;
	color: white;
}


/* Change the color of aside links on focus using tab key */
aside a:focus {
  background-color: #7c7c7c;
  color: #80a2a7;
  outline: none;
}


article {
	background-color: #80a2a7;
	color: #f4f5f5;
	font-size: 120%;
	padding: 0 10px;
}

article a {
	color: #565656;
	padding: 5px;
	text-decoration: none;
}

/* Change the color of article links on hover using mouse */
article a:hover {
  background-color: #E3DFDE;
  color: #6c6c6d;
}


/* Change the color of article links on focus using tab key */
article a:focus {
  background-color: white;
  color: #000000;
  outline: none;
}

#main_image {
	width: 100%;
}


/* For desktop: */
@media only screen and (min-width: 768px) {

	main {
		display: flex;
	}

	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		float: left;
		justify-content: center;
		width: 30%;
	}

	section {
		display: inline;
		float: right;
		width: 70%;
	}

}